.input {
    -fx-background-color: #fff;
    -fx-border-color: #ced4da;
    -fx-border-radius: 0.25em;
    -fx-font-size: 16px;
}
.input:focused {
    -fx-border-color: #80bdff;
    -fx-box-shadow: none;
}

.button {
    -fx-text-fill: #fff;
    -fx-font-weight: 700;
    -fx-border-color: transparent;
    -fx-border-radius: 8px;
}
.button:hover {
    -fx-cursor: hand;
}
.primary-button {
    -fx-background-color: #167df5;
}
.primary-button:hover {
    -fx-background-color: #0056b3; /* Màu nền khi hover */
}

.primary-button:pressed {
    -fx-background-color: #0056b3; /* Màu nền khi nhấn */
}