.table-view {
    -fx-background-color: #fff;
}
.table-view .column-header {
    -fx-background-color: #eff4fa;
    -fx-pref-height: 50px;

}
.table-view .column-header .label {
    -fx-text-fill: #8f9bb3;

}